body {
  margin: 0;
}

#navBar {
  display: flex;
  min-height: 4em;
  width: 100%;
  top: 0;
  position: sticky;
  background-color: #111;
  overflow-x: hidden;
  justify-content: center;
}

#navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inherit;
  flex-wrap: wrap;
  justify-content: inherit;
}

#navBar a {
  padding: 0.5em 0.2em;
  text-decoration: none;
  font-size: 1.5em;
  color: #cfcfcf;
  display: block;
  transition: 0.3s;
  position: relative;
}

#navBar a:hover,
#navBar a:focus {
  color: rgb(27, 211, 140);
}

#navBar li {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navBar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(27, 211, 140);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#navBar li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

#navBar li a:hover::after,
#navBar li a:focus::after {
  transform: scale(1);
}

header {
  margin: 5em 0;
}

header,
main {
  padding: 10px;
}
