body {
  margin: 0;
}

#navBar {
  display: flex;
  width: 95vw;
  min-height: 3em;
  top: 0;
  position: sticky;
  background-color: #111;
  overflow-x: hidden;
  justify-content: space-between;
  padding: 0 2.5vw;
}

#logo {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(27, 211, 140);
  text-shadow: rgb(27, 211, 140);
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inherit;
  flex-wrap: wrap;
  justify-content: inherit;
}

#navBar li {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: #cfcfcf;
}

#navBar li:hover {
  background-color: rgba(78, 78, 78, 0.562);
}

#navBar a {
  margin: 0 2em;
  text-decoration: none;
  font-size: 1.2em;
  color: inherit;
  display: block;
  transition: 0.3s;
  position: relative;
}

#navBar a:hover,
#navBar a:focus {
  color: rgb(27, 211, 140);
}

#navBar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(27, 211, 140);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: scale(0);
  transform-origin: center;
}

#navBar li a:focus::after,
#navBar li a:hover::after {
  opacity: 1;
  transform: scale(1);
}

header {
  margin: 5em 0;
}

header,
main {
  padding: 10px;
}
