body {
  margin: 0;
}

header {
  background-color: #f1f1f1;
  text-align: center;
  font-size: 35px;
}

#navBar {
  height: 5em;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

#navBar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#navBar a:hover {
  color: #f1f1f1;
}

header,
main {
  padding: 10px;
}
