@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  /* font-family: 'sans-serif', Arial, sans-serif; */
  font-family: 'Saira', sans-serif;
}

header #gridContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: hsl(109, 0%, 9%);
}

header #headerTitle {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

header #headerTitle * {
  padding: 0 3em;
}

header #headerTitle h1 {
  font-size: 3em;
  margin: 0;
  font-weight: 1000;
}

#navBar {
  width: 100%;
  top: 0;
  position: sticky;
  background-color: #111;
  z-index: 10000;
}

#navBar-container {
  min-height: 4em;
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}

#logo {
  margin-left: 3vw;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(27, 211, 140);
  text-shadow: rgb(27, 211, 140);
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inherit;
  flex-wrap: wrap;
  justify-content: inherit;
}

#navBar li {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  color: #cfcfcf;
}

#navBar a {
  margin-left: 2em;
  text-decoration: none;
  font-size: 1.2em;
  color: inherit;
  display: block;
  transition: 0.3s;
  position: relative;
}

#navBar a:hover,
#navBar a:focus {
  color: rgb(27, 211, 140);
}

#navBar a::after {
  content: '';
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(27, 211, 140);
  opacity: 1;
  transition:
    opacity 300ms,
    transform 300ms;
  transform: scale(0);
  transform-origin: center;
}

#navBar li a:focus::after,
#navBar li a:hover::after {
  transform: scale(1);
}

#aboutMe {
  max-width: 950px;
  margin: 6em auto;
  padding: 0 2em;
  font-size: 1.5em;
  line-height: 1.6em;
  color: #333;
  text-align: center;
}

#aboutMe h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

#aboutMe h2::after {
  content: '';
  display: block;
  width: 3em;
  height: 0.1em;
  background-color: rgb(27, 211, 140);
  margin: 0.2em auto 0 auto;
  border-radius: 0.1em;
}

#aboutMe p strong {
  color: hsl(157, 77%, 35%);
  text-shadow: 2px 2px 4px rgb(27, 211, 140);
}

#education {
  border-bottom: rgb(27, 211, 140) 6px solid;
  border-left: rgb(27, 211, 140) 5px solid;
  background-color: hsl(0, 0%, 97%);
  padding: 1em;
  max-width: 800px;
  margin: 2em auto;
  border-radius: 0.5em;
  font-size: 1.1em;
  font-weight: 600;
}

#projectReel {
  padding: 4em 0;
}

#projectReel h2,
#projectReel h3 {
  text-align: center;
  margin-bottom: 1em;
}

.slick-list {
  max-width: 90%;
  margin: 4em auto;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e2e2e2;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
  margin: 0 1em;
}

.project-card img {
  max-width: 60%;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 1em;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
